[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
constructs = "~=10.2.16"
cdk8s = "~=2.7.56"
cdk8s-plus-26 = "~=2.3.18"
pylint = "*"
pytest = "*"
coverage = "*"
safety = "*"

[pipenv]
allow_prereleases = true

[dev-packages]
autopep8 = "*"
